<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aktywacja konta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${user.username}">
    Dear
</p>
<p>
    Aby aktywowac konto kliknij poniższy link:
</p>
<p>
    <a th:href="@{|${baseUrl}/activate?key=${user.activationKey}|}"
       th:text="|${baseUrl}/activate?key=${user.activationKey}|">Activation Link</a>
</p>
<p>
    <span>Pozdrawiamy, </span>
    <br/>
    <em>Zespół nazwadomeny.pl.</em>
</p>
</body>
</html>
