<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Shelter - add user</title>
</head>
<body>
    <h1>Add user to database</h1>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post" >
        <label for="username">Nick: </label>
        <input type="text" th:field="*{username}" />
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" />
        <label for="password">Hasło: </label>
        <input type="text" th:field="*{password}" />
        <input type="submit" />
    </form>
</body>
</html>