<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Example of a simple Facebook integration with Spring Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<hr/>

<!-- Show user is logged in or not -->
<p sec:authorize="isAnonymous()">You are currently not logged in.</p>
<p sec:authorize="isAuthenticated()">You just logged in, <strong><span th:text="${user.username}"></span></strong>. Great job!</p>

<!-- Provide action buttons based on login state -->
<!--<form id="facebook-login"  action="/connect/facebook" method="POST" sec:authorize="isAnonymous()">-->
    <!--<input type="hidden" name="scope" value="public_profile,email" />-->
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->
    <!--<button type="submit">Log me in with facebook</button>-->
<!--</form>-->
<form id="facebook-signin"  action="/signin/facebook" method="POST" sec:authorize="isAnonymous()">
    <input type="hidden" name="scope" value="public_profile,email" />
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <button type="submit">Sign in me in with facebook</button>
</form>
</body>
</html>
